@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Styles */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

.progress-container {
    padding: 30px 300px;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.progress-sub-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.progress-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-around;
}

.progress-number div {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 35px;
    border: 1px solid #0033a0;
}

.progress-number div p {
    font-weight: 600 !important;
    font-size: 17px;
}

.progress-number p {
    font-size: 17px;
    font-weight: 450;
    letter-spacing: -0.5px;
    color: #0033a0;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e5e5e5;
    border-radius: 10px;
}


.hero-text {
    display: none;
}

.hero-text.active {
    display: block;
}


.hero-text h1 {
    color: #0033a0;
}

.container {
    width: 40%;
    border-radius: 20px;
    margin: 50px auto;
    background-color: #fff;
    padding: 60px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}

.form-step h2 {
    color: #0033a0;
    margin-bottom: 20px;
}

.form-step {
    display: none;
}
.form-step.active {
    display: block;
}
label {
    display: block;
    margin: 10px 0 5px;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 550;
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
}
button {
    font-weight: 600;
    background-color: #ffffff;
    color: #0033a0;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    border: #0033a0 1px solid;
    font-size: 16px;
}

.back-button {
    border: none;
}

.checkbox-container {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.checkbox-container {
    line-height: 22px;
}

#step4 a {
    font-size: 16px;
    font-weight: 600;
    color: #2d2d2d;
}

.checkbox{
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

input:focus {
    outline: none;
}

.text-desc {
    margin-bottom: 20px;
    line-height: 22px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}
.error {
    color: red;
}

.home-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-btn-container a {
    color: #2d2d2d;
    display: flex;
    width: 200px;
    justify-content: space-around;
    font-size: 17px;
    font-weight: 450;
    align-items: center;
}

.home-btn-container img  {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
}

.login-shorcut-container { 
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

a {
    text-decoration: none;
}

.login-shorcut-container a {
    margin-left: 10px;
    color: #0033a0;
    font-weight: 550;
    font-size: 17px;
}

.login-shorcut-container p {
    font-size: 17px;
}

.hidden {
    display: none;
}

.close-btn {
    cursor: pointer;
    float: right;
}
