@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
  font-family: "Kenzoestic";
  src: url("./kenzoestic/Kenzoestic\ Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto';
}

.terms-conditions {
  padding: 20px 200px;
  margin-top: 20px;
  text-align: justify;
}

.privacy p {
  margin-bottom: 30px !important;
}

.terms-conditions li {
  list-style: none;
  line-height: 2;
}

.privacy h4, .privacy h3 {
    margin: 20px 0;
}

.terms-conditions h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #0033A0;
  font-size: 3rem;
  font-family: 'kenzoestic';
}


.terms-conditions p {
  line-height: 1.6;
  margin-bottom: 80px;
  text-align: justify;
  font-size: 17px;
  /* Adjusted size for readability */
}

.terms-conditions h3 {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 550;
}